.k_signup-page{
    /* background-color: hsl(0, 0%, 15%); */
    display: flex;
   
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 25px;    
}

#k_img-nature{
    /* border: solid red 20px; */
    height: 78.7vh;
    width: 37vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.87);
}
#k_nature-img{
    height: 78.7vh;
    width: 37vw;
    background-size: contain;
    /* background-blend-mode: darken; */
    /* opacity: 0.9; */
    
}
.k_overlay{
    /* border: solid red 20px; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.17);
}
#k_sign-up{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 79vh;
    background-color: hsl(0, 0%, 10%);
    
}

#k_logo{
    width: 15vw;
    /* height: 15vh; */
    background-size: contain;
    margin-bottom: 50px;
    /* position: relative;
    top: -80px; */

}
.k_cred{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#k_submit{
    margin: 20px;
    width: 10vw;
    background-color: hsl(184, 100%, 45%);
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

#k_submit:hover{
    background-color: hsl(184, 100%, 55%);
}

#k_submit:active{
    background-color: hsl(184, 70%, 60%);
    color: hsl(0, 0%, 5%);
}

#k_login{
    color: hsl(180, 3%, 85%);
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
}
#k_login:hover{
    color: hsl(180, 3%, 99%);
}

@media screen and (max-width: 950px){
    
    #k_nature-img{
        display: none;
    }
    #k_sign-up{
        width: 60vw;
    }
    
    #k_logo{
        width: 40vw;
        /* height: 15vw; */
    }
    #k_submit{
        width: 20vw;
    }
    
}
@media screen and (max-width: 600px){
    
    #k_nature-img{
        display: none;
    }
    #k_sign-up{
        width: 70vw;
    }
   

    #k_logo{
        width: 35vw;
    }
    
}